.education {
  text-align: justify;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  font-size: 15px;
  
}


.education-info {
  list-style: none;
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  margin-bottom: 30px;
  border-radius: 20px;
  max-height: fit-content;

}

p {
    word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}


.education-info-logo {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.education-info-logo:hover {
  transform: scale(1.1);
}

.education-info-content {
  border-radius: 20px;
  box-shadow: 0 0 10px white;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  position: relative;
}

.education-info-diploma {
    position: relative;
  align-self: center;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.education-info-diploma :hover {
  transform: scale(1.1);
}


/* Ajustes para tablets (largura máxima de 768px) */
@media (max-width: 768px) {
  .education {
      flex-direction: column;
      align-items: center;
  }

  .education-info {
      width: 60%;
      padding: 15px 30px;
  }

  .education-info-content {
      flex-direction: column; /* Alinha os conteúdos em coluna para melhor disposição */
      gap: 10px;
  }
}

/* Ajustes para celulares (largura máxima de 480px) */
@media (max-width: 480px) {
  .education-info {
      width: 90%;
      padding: 15px 20px;
  }

  .education-info-content {
      box-shadow: 0 0 5px white; /* Redução da sombra para evitar poluição visual */
      padding: 10px;
      flex-direction: column;
      align-items: center;
  }

  .education-info-diploma {
      margin-bottom: 10px;
  }

  .education-info-logo {
      width: 100px; /* Faz com que o logo se ajuste melhor no espaço disponível */
      height: 100px;
  }
}