@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes growUp {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0%);
    }
    50% {
       transform: translateY(-25%);
    }

    100% {
        transform: translateY(0%);
    }
  }

  @keyframes glow {
    0% {
        box-shadow: 0 0 5px #fff;
    }
    50% {
        box-shadow: 0 0 20px #6200ff, 0 0 30px #3700ff, 0 0 40px #1b0177, 0 0 50px #ff00ff;
    }
    100% {
        box-shadow: 0 0 5px #fff;
    }
}
  
@keyframes glowBlue {
  0% {
      box-shadow: 0 0 5px #fff;
  }
  50% {
      box-shadow: 0 0 20px #000cb9 0 0 30px #006eff, 0 0 40px #0081fa, 0 0 50px #00eeff;
  }
  100% {
      box-shadow: 0 0 5px #fff;
  }
}

  