.cargo-info{
    text-align: justify;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cargo-info-content {
    
    padding: 5px 50px;
    width: 80%;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
  }
  
  .cargo-info-content-description {
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 5px;
  }
    


/* Ajustes para tablets (largura máxima de 768px) */
@media (max-width: 768px) {
  .cargo-info-content {
      width: 90%;
      padding: 10px 30px;
  }
}

/* Ajustes para celulares (largura máxima de 480px) */
@media (max-width: 480px) {

  .cargo-info {
    width: 50%;
  }

  .cargo-info-content {
    margin-left: 70px;
      width: 70vw;
      padding: 10px;
      box-shadow: 0 0 5px white; /* Reduz a intensidade da sombra */
    }

  .cargo-info-content-description {
      font-size: 14px; /* Reduz o tamanho da fonte para melhor leitura */
      padding: 5px; /* Ajuste de espaçamento */
  }
}